.main-background {
    background-image: url(/assets/images/background.png);
    background-position: relative;
    background-attachment: fixed;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    color: #000000;
    margin-bottom: 15px;
}